* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

header div {
  padding: 20px 32%;

  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}

.main_page {
  /* height: 200px; */
  width: 100%;
  background-image: url("assets/assets/donation/annie-spratt-427340-unsplash.png");
  background-color: rgb(53, 68, 99);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_page #text_box {
  text-align: center;
  font: normal normal normal 32px/46px Std;
  font-family: floodregular;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 30px 0;
}

.main_page .form_page {
  width: 80%;
  height: 920px;
  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 50px;
}

.form_page .text_box {
  text-align: left;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-bottom: 35px;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 45px;
}
.form_page .information {
  height: 35%;
}

.form_page .payment {
  height: 18%;
}

.form_page .information,
.form_page .payment {
  margin-left: 8%;

  margin-bottom: 25px;
  margin-right: 8%;
}

.form_page .information {
  margin-top: 50px;
}

.form_page .payment {
  margin-top: 70px;
}
.form_page #mini_heading {
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.form_page #table_1 {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 0 10px;
  padding-bottom: 0;
  margin-top: 20px;
}

.form_page #first_name {
  grid-area: 1/1/2/5;
}

.form_page #last_name {
  grid-area: 1/5/2/9;
}

.form_page #street_address {
  grid-area: 2/1/3/9;
}

.form_page #city {
  grid-area: 3/1/4/5;
}

.form_page #state {
  grid-area: 3/5/4/7;
  justify-self: end;
}

.form_page #zip {
  grid-area: 3/7/4/9;
}

.form_page #email_address {
  grid-area: 4/1/5/9;
}

.form_page label {
  text-align: left;
  font: normal normal normal 11px/13px Helvetica;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
  display: block;
}

.form_page input {
  background: transparent;
  border: none;
  display: block;
  margin-top: 10px;
  padding-top: 2px;
  width: 100%;
  border-bottom: 2px solid #c1f7d5;
  padding-bottom: 10px;
}
.form_page input::placeholder {
  text-align: left;
  font: normal normal 300 16px/24px Helvetica;
  letter-spacing: -0.16px;
  color: #ffffff;
  opacity: 0.2;

  /* background-color:transparent; */
}

.form_page select {
  display: block;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  font: normal normal 300 16px/24px Helvetica;
  letter-spacing: -0.16px;
  color: #c1f7d5;
  opacity: 1;
  border-bottom: 2px solid #c1f7d5;
  padding-bottom: 10px;
}

/* .form_page #content-c{
  width: 100%;
height: 0px;

border: 2px solid #C1F7D5;
opacity: 1;
margin-top:10px;


} */

.form_page #table_2 {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(8, 1fr);
  gap: 0 10px;
  padding-bottom: 0;
  margin-top: 20px;
}

.form_page #credit_number {
  grid-area: 1/1/2/9;
}

.form_page #expiration_date {
  grid-area: 2/1/3/5;
  /* display:flex; */
  /* gap: 10px; */
  /* background-color: red; */
}

.form_page #inside_date {
  display: flex;
  gap: 10px;
}

.form_page #security_code {
  grid-area: 2/5/3/9;
}

.form_page button {
  width: 249px;
  height: 49px;

  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  border: none;
  margin-left: 8%;
  margin-right: 8%;
}

.form_page .go_back  {
  text-align: left;
  text-decoration: underline;
  font: normal normal 300 14px/24px Helvetica;
  letter-spacing: -0.14px;
  color: #c1f7d5;
  opacity: 1;
  margin-left: 8%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.form_page .go_back a{
  text-decoration: none;
  color:inherit;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;

  & .footer-box1 {
    grid-area: 1/1/2/2;
    height: 100%;
    width: 100%;
    display: flex;

    /* align-items: flex;
      justify-content: center; */
    & p {
      width: 20%;
      text-align: left;
      font: normal normal bold 18px/22px Helvetica;
      letter-spacing: 0px;
      color: #354463;
    }
  }

  & .footer-box2 {
    grid-area: 1/2/2/3;
    width: 50%;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & p {
      text-align: left;
      font: normal normal 300 14px/20px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
    }
  }
}

& .footer-box3 {
  grid-area: 2/1/3/2;

  & h5 {
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
  }

  & ul {
    list-style: none;
    margin-top: 4px;

    & li {
      text-align: left;
      text-decoration: underline;
      font: normal normal 300 14px/24px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
    }
  }
}

& .footer-box4 {
  grid-area: 2/2/3/3;

  & h5 {
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
  }

  & ul {
    list-style: none;
    margin-top: 4px;

    & li {
      text-align: left;
      text-decoration: underline;
      font: normal normal 300 14px/24px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
    }
  }
}

& .footer-box5 {
  grid-area: 3/1/4/3;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 20px;

  & div {
    width: 50%;
    text-align: right;
    font: normal normal normal 44px/46px;
    font-size: 2.4rem;
    font-family: "floodregular";
    letter-spacing: 0px;
    color: #354463;
  }
}

@media screen and (min-width: 480px) and (max-width: 830px) {
  header div {
    font: normal normal bold 22px/28px Helvetica;
    padding: 20px 40%;
    text-align: center;
  }
  .main_page #text_box {
    width: 60%;
    font: normal normal normal 44px/46px Std;
    font-family: floodregular;
  }

  .form_page {
    position: relative;
  }
  .form_page #state #sadd {
    /* justify-self:center; */
    width: 100px;
  }
  .form_page #table_1 {
    gap: 0 50px;
  }

  .form_page #table_2 {
    gap: 0 50px;
  }

  .form_page #inside_date {
    gap: 25px;
  }

  .form_page label {
    font: normal normal normal 14px/17px Helvetica;
  }

  .form_page input {
    padding-top: 4px;
  }
  .form_page input::placeholder {
    font: normal normal 300 20px/32px Helvetica;
  }

  .form_page select {
    font: normal normal 300 20px/32px Helvetica;
    padding-bottom: 8px;
  }

  .form_page #mini_heading {
    font: normal normal bold 28px/36px Helvetica;
  }

  .form_page .text_box {
    font: normal normal bold 28px/36px Helvetica;
    margin-top: 75px;
  }

  .form_page button {
    font: normal normal bold 22px/28px Helvetica;
    position: absolute;
    right: 0;
  }

  .form_page .go_back  {
    font: normal normal 300 16px/56px Helvetica;
  }

  .bottom_page #bottom_logo {
    font: normal normal bold 22px/28px Helvetica;
  }

  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    grid-gap: 10px;
    padding: 64px;

    & .footer-box1 {
      grid-area: 1/1/3/2;
      height: 100%;
      width: 100%;
      display: flex;

      /* background: red; */
      & p {
        width: 60%;
        text-align: left;
        font: normal normal bold 18px/22px Helvetica;
        letter-spacing: 0px;
        color: #354463;
        /* padding: 10%; */
      }
    }

    & .footer-box2 {
      grid-area: 1/2/2/3;
      width: 50%;

      & h5 {
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
      }

      & p {
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }

    & .footer-box3 {
      grid-area: 1/3/2/4;

      & h5 {
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
      }

      & ul {
        list-style: none;
        margin-top: 4px;

        & li {
          text-align: left;
          text-decoration: underline;
          font: normal normal 300 14px/24px Helvetica;
          letter-spacing: -0.14px;
          color: #354463;
        }
      }
    }

    & .footer-box4 {
      grid-area: 2/2/3/3;

      & h5 {
        text-align: left;
        font: normal normal normal 11px/13px Helvetica;
        letter-spacing: 0.44px;
        color: #354463;
        text-transform: uppercase;
      }

      & ul {
        list-style: none;
        margin-top: 4px;

        & li {
          text-align: left;
          text-decoration: underline;
          font: normal normal 300 14px/24px Helvetica;
          letter-spacing: -0.14px;
          color: #354463;
        }
      }
    }

    & .footer-box5 {
      grid-area: 2/3/3/4;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      padding-right: 20px;

      & div {
        width: 90%;
        text-align: left;
        font: normal normal normal 44px/46px;
        font-size: 2.4rem;
        font-family: "floodregular";
        letter-spacing: 0px;
        color: #354463;
      }
    }
  }
}

@media screen and (min-width: 830px) {
  header div {
    font: normal normal bold 28px/36px Helvetica;
    padding: 20px 40%;
    text-align: center;
  }
  .main_page #text_box {
    position: absolute;
    right: 6%;
    width: 390px;
    font: normal normal normal 72px/76px Std;
    font-family: floodregular;
    margin-top: 5%;
  }

  .main_page .form_page {
    width: 45%;
    /* position:absolute; */
    /* margin-left: 0;  */
    align-self: flex-start;
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 10%;
    position: relative;
  }

  .form_page #state #sadd {
    /* justify-self:end; */
    width: 100px;
  }
  .form_page #table_1 {
    gap: 0 50px;
  }

  .form_page #table_2 {
    gap: 0 50px;
  }

  .form_page #inside_date {
    gap: 25px;
  }

  .form_page label {
    font: normal normal normal 14px/17px Helvetica;
  }

  .form_page input {
    padding-top: 4px;
  }
  .form_page input::placeholder {
    font: normal normal 300 20px/32px Helvetica;
  }

  .form_page select {
    font: normal normal 300 20px/32px Helvetica;
    padding-bottom: 8px;
  }

  .form_page #mini_heading {
    font: normal normal bold 28px/36px Helvetica;
  }

  .form_page .text_box {
    font: normal normal bold 28px/36px Helvetica;
    margin-top: 75px;
  }

  .form_page button {
    font: normal normal bold 22px/28px Helvetica;
    position: absolute;
    right: 0;
  }

  .form_page .go_back {
    font: normal normal 300 16px/56px Helvetica;
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 114px 160px;
    grid-gap: 40px;

    & .footer-box1 {
      grid-area: 1/1/2/3;
      height: 100%;
      width: 100%;
      display: flex;
      & p {
        width: 40%;
        text-align: left;
        font: normal normal bold 22px/28px Helvetica;
        letter-spacing: 0px;
        color: #354463;
      }
    }

    & .footer-box2 {
      grid-area: 1/3/2/4;
      width: 75%;

      & h5 {
        font-size: 1rem;
        letter-spacing: 0.56px;
        border-bottom: 2px solid #354463;
        line-height: 30px;
      }

      & p {
        text-align: left;
        font: normal normal 300 14px/20px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
        margin-top: 4px;
      }
    }

    & .footer-box3 {
      grid-area: 1/4/2/5;
      width: 75%;
      & h5 {
        font-size: 1rem;
        letter-spacing: 0.56px;
        border-bottom: 2px solid #354463;
        line-height: 30px;
      }

      & ul {
        list-style: none;
        margin-top: 4px;

        & li {
          text-align: left;
          text-decoration: underline;
          font: normal normal 300 14px/24px Helvetica;
          letter-spacing: -0.14px;
          color: #354463;
        }
      }
    }

    & .footer-box4 {
      grid-area: 1/5/2/6;
      width: 75%;
      & h5 {
        font-size: 1rem;
        letter-spacing: 0.56px;
        border-bottom: 2px solid #354463;
        line-height: 30px;
      }

      & ul {
        list-style: none;
        margin-top: 4px;

        & li {
          text-align: left;
          text-decoration: underline;
          font: normal normal 300 14px/24px Helvetica;
          letter-spacing: -0.14px;
          color: #354463;
        }
      }
    }

    & .footer-box5 {
      grid-area: 1/6/2/8;
      display: flex;
      justify-content: flex-end;
      padding: 10px;
      padding-right: 20px;

      & div {
        width: 50%;
        text-align: right;
        font: normal normal normal 44px/46px;
        font-size: 2.4rem;
        font-family: "floodregular";
        letter-spacing: 0px;
        color: #354463;
      }
    }
  }
}
