* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}
header {
  top: 0px;
  left: 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
}
header .main-container {
  height: 150px;
  width: 100%;
  /* padding: 20px 20px 20px 20px; */
}

.heading-container {
  display: flex;
  /* flex-direction:column; */
  justify-content: space-around;
  align-items: center;
  /* padding: 20px 5px 20px 40px; */
}

#logo {
  width: 47%;
  font: normal normal bold 16px/18px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  padding: 20px 5px 0px 20px;
}

#navigation {
  /* width: 80%; */
  font: normal normal 300 10px/14px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
  padding: 10px 20px 0px 40px;
}

/* header */
header .btn-container {
  /* left: 32px; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

header button {
  width: 312px;
  height: 40px;

  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  font: normal normal bold 18px/22px Helvetica;

  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  border: none;
}

header li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px 0;
}

header a{
  text-decoration: none;
  color:inherit;
}
.container-1 {
  /* overflow: hidden; */
  align-items: flex-start;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px !important;
  width: 100%;
  background-image: url("./assets/assets/home/annie-spratt-135307-unsplash.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  background-position:CENTER;
  
}

/* .container-1 .img_div{
  width:100%;
  height:100%;
  
}

.container-1 .img_div img{
  width:100%;
  height:100%;
  
} */
.container-1 #content-a {
  /* Layout Properties */

  align-self: flex-start;
  width: 181px;
  height: 136px;

  /* UI Properties */

  text-align: left;
  font: normal normal normal 44px/46px Std;
  font-family: "floodregular";
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 20px 0 0 40px;
}

.container-1 #content-b {
  width: 300px;
  height: 240px;
  /* position: absolute;
  right: 0; */
  margin: 0 20px 60px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.container-1 #content-b #issue {
  /* Layout Properties */
  position: absolute;
  bottom: 220px;

  width: 160px;
  height: 40px;

  /* UI Properties */

  /* UI Properties */

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  padding-top: 12px;
}

.container-1 #content-b #par1 {
  width: 275px;
  height: 78px;
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  margin-top: 15px;
}

/* .container-1 #content-b p{
    align-self:center;
} */

.container-1 #content-b #par2 {
  width: 248px;
  height: 50px;
  text-align: center;
  font: normal normal 14px/18px arial;
  letter-spacing: 0px;
  color: #2d5097;
  opacity: 1;
  margin-top: 15px;
}

.take_action {
  width: 100%;
  height: 200px;

  background: #c1f7d5 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.take_action #content-a {
  width: 160px;
  height: 40px;

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  padding-top: 12px;
  position: absolute;
  bottom: 180px;
}

.take_action #content-b {
  position: relative;
  display: flex;
  flex-direction: column;
}

#learn-volunteer {
  height: 50%;
  padding: 18px;
  display: flex;
}

#share-donate {
  height: 50%;
  padding: 18px;
  display: flex;
}

#learn {
  width: 50%;
  padding: 20px;
}
#volunteer {
  padding: 20px;
  width: 50%;
}
#share {
  width: 50%;
  padding: 0 20px 20px 20px;
}

#donate {
  width: 50%;
  padding: 0 20px 20px 20px;
}

#learn #id_1,
#volunteer #id_1,
#share #id_1,
#donate #id_1 {
  text-align: left;
  font: normal normal bold 14px/17px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
}

#learn p,
#volunteer p,
#share p,
#donate p {
  text-align: left;
  font: normal normal 300 10px/16px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
}

.what_we_do {
  height: 1800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
}

.what_we_do #to_do {
  width: 160px;
  height: 40px;

  /* UI Properties */
  text-align: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;

  margin-top: 20px;
  padding-top: 12px;
}

.what_we_do #mission {
  width: 302px;
  height: 134px;

  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 20px;
}

.what_we_do .three_divs{
  display:flex;
  flex-direction:column;
  align-items: center;
}

#planting,
#education,
#advocacy {
  height: 435px;
  width: 90%;
  position: relative;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  align-content: center;
}

#planting {
  margin-top: 70px;
}


#planting #image_div, #education #image_div , #advocacy #image_div{
  width: 248px;
  height: 176px;
 
  background-size: cover;
  position: relative;
  top: -40px;
}



#planting #heading,
#education #heading,
#advocacy #heading {
  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  /* position: absolute; */
  /* top: 156px; */
}

#planting p,
#education p,
#advocacy p {
  width: 242px;
  height: 124px;

  /* UI Properties */

  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
  margin: 0 20px 20px 20px;
  
  padding: 20px;
  /* position: absolute;
    top: 200px; */
}

#planting button,
#education button,
#advocacy button {
  width: 152px;
  height: 40px;

  /* UI Properties */

  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  border: none;

  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  margin: 30px 40px 30px 40px;
}

.did_you_know {
  height: 1100px;

  background: transparent url("assets/assets/home/did-you-know-background.png") 0% 0% no-repeat
    padding-box;
  background-size: cover;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  
  background-position:CENTER;
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  /* align-items:center; */
}

.did_you_know #change {
  width: 300px;
  height: 192px;

  /* UI Properties */
  margin: 40px 20px 0px 20px;
  text-align: left;
  font: normal normal normal 44px/46px Std;
  font-family: floodregular;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.did_you_know button {
  width: 152px;
  height: 40px;

  /* UI Properties */

  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;

  text-align: center;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  border: none;
  padding: 7px;
  margin: 5px 20px 40px 20px;
}

.did_you_know #content-a,
.did_you_know #content-b,
.did_you_know #content-c,
.did_you_know #content-d {
  align-self: center;
  width: 80%;
  height: 136px;
  position: relative;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  margin: 30px 20px 10px 20px;
  padding: 20px;

  display:flex;
  flex-direction:space-evenly;
  gap:2%;

}

.did_you_know #twitter, .did_you_know #facebook{
  width: 32px;
height: 32px;
border-radius: 50%;

background: #C1F7D5 0% 0% no-repeat padding-box;
opacity: 1;
/* margin-top: 15px; */
/* margin-bottom:15px; */
background-size:cover;

text-align:center;
padding-top:9px;
}

.did_you_know #twitter{
  margin-bottom: 15px;
}

.did_you_know #facebook{
  margin-top: 25px;
}


.did_you_know #heading {
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  margin-top: 10px;
}

.did_you_know p {
  text-align: left;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #354463;
  opacity: 1;
  margin-top: 10px;
}

.did_you_know #question {
  width: 160px;
  height: 40px;

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;

  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  padding-top: 12px;

  position: absolute;
  /* align-self: center; */
  bottom: 120px;
  left: 23%;
}

.stories {
  width: 100%;
  height: 890px;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;

  display: flex;
  flex-direction: column;
}

.stories #image_box {
  width: 80%;
  height: 320px;

  background: transparent url("./lady-baby.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  opacity: 1;
  align-self: center;
  margin: 50px 20px 10px 20px;
  position: relative;
}

.stories #small_box {
  width: 160px;
  height: 40px;

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;

  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #ffffff;
  opacity: 1;
  padding-top: 12px;
  position: absolute;
  bottom: 300px;
  left: 23%;
}

.stories #text_box {
  width: 80%;
  height: 320px;

  /* UI Properties */

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  align-self: center;
  margin: 20px 20px 20px 20px;
}

.stories #main_text {
  width: 95%;
  height: 200px;
  align-self: center;
  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin: 15px auto;
  padding: 10px;
}

.stories #small_text {
  text-align: center;
  font: normal normal normal 11px/13px Helvetica;
  letter-spacing: 0.44px;
  color: #ffffff;
  opacity: 1;
  margin-top: 25px;
  padding: 15px;
}

.stories button {
  align-self: center;
  width: 156px;
  height: 40px;

  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;

  text-align: center;
  font: normal normal bold 18px/22px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  border: none;
  margin-top: 30px;
  margin-bottom: 40px;
}

.action {
  width: 100%;
  height: 1780px;

  background: #354463 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action #main_heading {
  width: 80%;
  height: 200px;

  /* UI Properties */

  text-align: center;
  font: normal normal normal 44px/46px Std;
  font-family: floodregular;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 60px;
}

.action .box1,
.action .box2 {
  width: 80%;
  height: 720px;

  /* UI Properties */

  opacity: 1;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.action #image_box {
  width: 100%;
  height: 320px;

  opacity: 1;
  /* align-self: flex-start; */
  margin: 50px 0px 10px 0px;
  position: relative;

  background-size: cover;
  opacity: 1;
}

.action #image_box img{
  width:100%;
  height:100%;
}
.action #small_box {
  width: 160px;
  height: 40px;

  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;

  text-align: center;
  font: normal normal normal 14px/17px Helvetica;
  letter-spacing: 0.56px;
  color: #354463;
  opacity: 1;
  padding-top: 12px;
  position: absolute;
  top: 4%;
}


.action .text_box{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.action #heading {
  width: 100%;
  height: 90px;

  text-align: center;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-top: 30px;
}

.action #content_box {
  width: 100%;
  height: 150px;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #a1afca;
  opacity: 1;
  margin-bottom: 15px;
  /* padding: 20px; */
}

.action button {
  align-self: center;
  width: 152px;
  height: 40px;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  border: none;
  font: normal normal bold 16px/20px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  margin-bottom: 30px;
}

.subscribe {
  /* height: 230px; */
  width: 100%;
  background: #c1f7d5 0% 0% no-repeat padding-box;
  opacity: 1;
}

.subscribe #content-box {
  text-align: left;
  font: normal normal bold 22px/28px Helvetica;
  letter-spacing: 0px;
  color: #354463;
  opacity: 1;
  padding: 30px 30px;
}

.subscribe input {
  width: 192px;
  height: 40px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;
  text-align: center;
  font: normal normal 300 14px/20px Helvetica;
  letter-spacing: -0.14px;
  color: #13367c;
  opacity: 1;
  border: none;
  margin: 10px 7px 25px 30px;
}

.subscribe button {
  width: 112px;
  height: 40px;

  background: #354463 0% 0% no-repeat padding-box;
  border-radius: 100px;
  opacity: 1;

  text-align: center;
  font: normal normal bold 16px/19px Helvetica;
  letter-spacing: 0px;
  color: #c1f7d5;
  opacity: 1;
  border: none;
  margin-top: 10px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 20px;

  & .footer-box1 {
    grid-area: 1/1/2/2;
    height: 100%;
    width: 100%;
    display: flex;

    /* align-items: flex;
      justify-content: center; */
    & p {
      width: 20%;
      text-align: left;
      font: normal normal bold 18px/22px Helvetica;
      letter-spacing: 0px;
      color: #354463;
    }
  }

  & .footer-box2 {
    grid-area: 1/2/2/3;
    width: 50%;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & p {
      text-align: left;
      font: normal normal 300 14px/20px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
    }
  }

  & .footer-box3 {
    grid-area: 2/1/3/2;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box4 {
    grid-area: 2/2/3/3;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box5 {
    grid-area: 3/1/4/3;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;

    & div {
      width: 50%;
      text-align: right;
      font: normal normal normal 44px/46px;
      font-size: 2.4rem;
      font-family: "floodregular";
      letter-spacing: 0px;
      color: #354463;
    }
  }
}
















@media screen and (min-width: 480px) and (max-width: 830px){
  .main-container {
    position: relative;
  }

  .heading-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  #logo {
    width: 180px;
    font: normal normal bold 22px/28px Helvetica;
    margin-left: 20px;
    /* padding:0 */
  }
  #navigation {
    font: normal normal 300 16px/24px Helvetica;
    display: inline;
    padding: 20px 5px 20px 20px;
    /* position:absolute; */
    /* bottom:20px; */
  }

  header li {
    display: inline;
    margin-left: 20px;
  }

  header .btn-container {
    position: absolute;
    top: 13%;
    right: 7%;
  }

  header button {
    width: 140px;
    height: 48px;
    font: normal normal bold 18px/22px Helvetica;
  }

  .container-1{
    height: 688px;
  }

  .container-1 #content-a{
    padding-top:70px;
    padding-left:70px;
  }
 

  .container-1 #content-b{
    width: 600px;
height: 309px;
margin-top: 20px;
margin-left:70px;
  }

  .container-1 #content-b #issue{
    position:absolute;
    bottom:290px;
    left:45px;
   
  }

.container-1 #content-b #par1{
  width:100%;
  text-align:left;
  font: normal normal bold 36px/46px Helvetica;
  padding-left: 45px;
  padding-right:30px;
}

.container-1 #content-b #par2{
  width:100%;
  padding-left: 45px;
  padding-right:30px;

  font: normal normal 18px/20px arial;
  text-align:left;
}

.take_action{
  height:336px;
  
}
.take_action #content-a{
  position:absolute;
  bottom:320px;
}
#learn-volunteer, #share-donate{
  justify-content:space-evenly;
}
#learn, #volunteer , #share , #donate {
  width:43%;
}
#learn #id_1, #volunteer #id_1, #share #id_1, #donate #id_1{
  font: normal normal bold 22px/28px Helvetica;
}

#learn p, #volunteer p, #share p, #donate p{
  font: normal normal 300 16px/24px Helvetica;
}


.what_we_do{
  height:1538px;
  align-items:flex-start;
  padding-left:70px;
  padding-top: 70px;
}
.what_we_do #mission{
  width: 640px;
height: 175px;

/* UI Properties */

text-align: left;
font: normal normal bold 36px/46px Helvetica;
}


#planting, #education, #advocacy{
  height:300px;
  flex-direction:row;
  position:relative;
}

#planting #image_div, #education #image_div, #advocacy #image_div{
  position: relative;
  top: -35%;
  left: 7%;
}

.what_we_do .item_content{
  margin-left: 35px;
}

#planting #heading, #education #heading, #advocacy #heading{

  width: 65%;
  text-align:left;
  padding-left:20px;
  margin-left:20px;
  font: normal normal bold 22px/28px Helvetica;
}

#planting p, #education p, #advocacy p{
  width: 84%;
  text-align:left;
  font: normal normal 300 16px/20px Helvetica;
}



#planting button, #education button, #advocacy button
{
  position:absolute;
  top:50%;
  right:51%;

}


.did_you_know{
  position:relative;
  height:900px;
}

.did_you_know #change{
  width: 193px;
height: 260px;
padding-left:50px;
padding-top:30px;
}

.did_you_know button{
  margin-left:70px;
  margin-top:40px;
  
}
.did_you_know #question{
  position:absolute;
  left:10%;
}

.did_you_know #content-a, .did_you_know #content-b, .did_you_know #content-c, .did_you_know #content-d{
  align-self:flex-end;
  width: 50%;
height: 172px;
  /* margin-top: auto; */
  /* order:-1; */
  position:relative;;
  top:-350px;
  right:5%;
  
}

.did_you_know #heading{
  font: normal normal bold 36px/46px Helvetica;
}

.did_you_know p{
  font: normal normal 300 16px/20px Helvetica;
}

.did_you_know #twitter{
  margin-top: 10px;
}


.stories{
  position:relative;

}
.stories #image_box{
  height:568px;
  width:70%;
  margin-right:70px;
}

.stories #small_box{
  position:absolute;
  top:-4%;
  left:60px;
}

.stories #text_box{
  height:307px;
  width:70%;
  align-self: flex-end;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
  top:-90px;

}



.stories #main_text{
  text-align: left;
  margin-bottom:0;
  padding-bottom: 0;
  height:auto;
}

.stories #small_text{
  padding-top:0;
  margin-top:0;
  font: normal normal normal 14px/17px Helvetica;
  text-align:left;
  margin-left:10px;
  margin-top:40px;
  margin-bottom:40px;
 
}

.stories button{
  position:absolute;

  bottom:7px;
  left:26%;


}


.action{
  height:1240px;
}



.action #main_heading{
  text-align: left;
    height: auto;
    width: 73%;
    align-self: flex-start;
    padding-left: 70px;
}
.action .box1,
.action .box2 {
  flex-direction:row;
  height:500px;
}

.action #small_box{
  /* position:absolute; */
  /* left:5%; */
  position:relative;
  top:0;
  align-self: flex-start;
    
}
.action .box1 #small_box{
  margin-left: 20%;
}

.action #image_box{
  align-self: flex-start;
  width:52%;
  height:55%
}

.action #image_box img{
  width:100%;
  height:100%

}

.action .text_box{
  width:60%;
  height:100%;
 
  position:relative;
  top:7%;
}

.action .box1 .text_box{
  margin-left:25px;
}

.action  #heading{
  align-self:center;
  text-align: left;
font: normal normal bold 28px/36px Helvetica;
height:auto;
margin-bottom:20px;

}

.action  #content_box{
 
  text-align:left;
  font: normal normal 300 18px/20px Helvetica;
}


.action button{
  margin-top:35px;
  align-self: flex-start;
   
}

.action .box1 #heading{padding-left:20%;}
.action .box1 #content_box{padding-left:20%;}
.action .box1 button{margin-left: 20%;}

.action .box2 #heading{padding-right:20%;}
.action .box2 #content_box{padding-right:20%;}
.action .box2 button{margin-right: 20%;}


.action .box2{
  flex-direction: row-reverse;
}



.subscribe #content-box {
  padding-right: 35%;
  padding-left: 60px;
  padding-top: 50px;
}

.subscribe input {
  width: 448px;
  height: 40px;
  font: normal normal 300 18px/22px Helvetica;
  text-align: left;
  padding-left: 15px;
  margin-left: 60px;
  margin-right: 45px;
  margin-bottom: 50px;
}

.subscribe button {
  width: 160px;
  height: 40px;
  font: normal normal bold 18px/22px Helvetica;
}

.footer {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  grid-gap: 10px;
  padding: 64px;

  & .footer-box1 {
    grid-area: 1/1/3/2;
    height: 100%;
    width: 100%;
    display: flex;

    /* background: red; */
    & p {
      width: 60%;
      text-align: left;
      font: normal normal bold 18px/22px Helvetica;
      letter-spacing: 0px;
      color: #354463;
      /* padding: 10%; */
    }
  }

  & .footer-box2 {
    grid-area: 1/2/2/3;
    width: 50%;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & p {
      text-align: left;
      font: normal normal 300 14px/20px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
    }
  }

  & .footer-box3 {
    grid-area: 1/3/2/4;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box4 {
    grid-area: 2/2/3/3;

    & h5 {
      text-align: left;
      font: normal normal normal 11px/13px Helvetica;
      letter-spacing: 0.44px;
      color: #354463;
      text-transform: uppercase;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box5 {
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;

    & div {
      width: 90%;
      text-align: left;
      font: normal normal normal 44px/46px;
      font-size: 2.4rem;
      font-family: "floodregular";
      letter-spacing: 0px;
      color: #354463;
    }
  }
}


}



@media screen and (min-width: 830px) {

  body{
    overflow-x: hidden;
  }

  .main-container {
    position: relative;
    padding: 20px 20px 30px 20px;
  }
  header .main-container{
    height:130px;
  }

  .heading-container {
    justify-content: space-between;
    align-items: flex-start;
  }
  #logo {
    width: 180px;
    font: normal normal bold 22px/28px Helvetica;
    margin-left: 40px;

    /* padding:0 */
  }
  #navigation {
    font: normal normal 300 16px/24px Helvetica;
    display: inline;
    padding: 20px 20px 20px 20px;
    margin-right: 35%;
    /* position:absolute; */
    /* bottom:20px; */
  }

  header li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
  }

  header .btn-container {
    position: absolute;
    top: 13%;
    right: 7%;
  }

  header button {
    width: 140px;
    height: 48px;
    font: normal normal bold 18px/22px Helvetica;
  }


  .container-1{
    height: 586px;
    flex-direction:row-reverse;
    justify-content:space-around;
  }

  .container-1 #content-a{
    width: 458px;
height: 224px;
   
    padding-top:70px;
    padding-left:70px;
    font: normal normal normal 72px/76px Std;
    font-family:floodregular;
    padding-right:28px;
    
  }
 

  .container-1 #content-b{
    width: 530px;
height: 416px;
margin-top: 70px;
margin-left:70px;
position:relative;
  }

  .container-1 #content-b #issue{
    position:absolute;
    bottom:394px;
    left:45px;
   
  }

.container-1 #content-b #par1{
  width:100%;
  text-align:left;
  font: normal normal bold 44px/56px Helvetica;;
  padding-left: 45px;
  padding-right:30px;
}

.container-1 #content-b #par2{
  width:100%;
  padding-top:30px;
  padding-left: 45px;
  padding-right:30px;

  font: normal normal 18px/20px arial;
  text-align:left;
}

.take_action{
  height:240px;
}

.take_action #content-a{
  position:absolute;
  bottom: 219px;
}
.take_action #content-b{
  flex-direction:row;
  /* justify-content: flex-start; */
  margin-top:40px;
}

#learn, #volunteer{
  padding-top:0;
}

#learn #id_1, #volunteer #id_1, #share #id_1, #donate #id_1{
  font: normal normal bold 28px/36px Helvetica;
}

#learn p, #volunteer p, #share p, #donate p{
  font: normal normal 300 16px/24px Helvetica;
}



.what_we_do{
  height:1050px;
  align-items:flex-start;
  padding-left:70px;
  padding-top: 70px;
}
.what_we_do #mission{
  width: 1200px;
  height: 140px;

/* UI Properties */

text-align: left;
font: normal normal bold 44px/56px Helvetica;
}

.what_we_do .three_divs{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding-right:100px;
  margin-top: 40px;
}


#planting, #education, #advocacy{
  width: 332px;
height: 552px;
  flex-direction:column;
  position:relative;
  margin: 40px 20px 40px 20px;
}

#planting #image_div, #education #image_div, #advocacy #image_div{
  width: 320px;
height: 224px;
  position: relative;
  left: 11%;
}

#planting #image_div img, #education #image_div img, #advocacy #image_div img{
  width:100%;
  height:100%;
}

.what_we_do .item_content{
  margin-left: 0;
}

#planting #heading, #education #heading, #advocacy #heading{

  width: 65%;
  text-align:left;
  padding-left:20px;
  margin-left:20px;
  font: normal normal bold 28px/36px Helvetica;
}

#planting p, #education p, #advocacy p{
  width: 84%;
  text-align:left;
  font: normal normal 300 16px/24px Helvetica;
}



#planting button, #education button, #advocacy button
{
align-self:flex-start;

}














.stories{
  height: 759px;
  position:relative;
  align-items:flex-start;

}
.stories #image_box{
  height:568px;
  width:38%;
  align-self:flex-end;
  margin-right:150px;
}

.stories #small_box{
  position:absolute;
  top:-4%;
  left:60px;
}

.stories #text_box{
  align-self: center;
  margin-left:100px;
  height:307px;
  width:36%;
  padding-top:20px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 25%;
  right: 43%;
}





.stories #main_text{
  text-align: left;
  font: normal normal bold 28px/36px Helvetica;
  margin-bottom:0;
  padding-bottom: 0;
  height:auto;
}

.stories #small_text{
  padding-top:0;
  margin-top:0;
  font: normal normal normal 14px/17px Helvetica;
  text-align:left;
  margin-left:10px;
  margin-top:40px;
  margin-bottom:40px;
 
}

.stories button{
  align-self: center;
  margin-left: 100px;
  position: absolute;
  top: 72%;
  right: 71%;


}


.did_you_know{
  position:relative;
  height:970px;
}

.did_you_know #change{
  width: 437px;
  height: 480px;
padding-left:100px;
padding-top:100px;
font: normal normal normal 72px/76px Std;
font-family: floodregular;
margin:0;
}

.did_you_know button{
  width: 160px;
height: 48px;
  margin-left:100px;
  margin-top:40px;
  
}
.did_you_know #question{
  position:absolute;
  left:10%;
  top:-12%;
}

.did_you_know #content-a, .did_you_know #content-b, .did_you_know #content-c, .did_you_know #content-d{
  align-self:flex-end;
  width: 544px;
  height: 163px;
  /* margin-top: auto; */
  /* order:-1; */
  position:relative;;
  top:-520px;
  right:5%;
  gap:37%;
  
}

.did_you_know #heading{
  font: normal normal bold 44px/56px Helvetica;
}

.did_you_know p{
  font: normal normal 300 18px/20px Helvetica;
}

.did_you_know #twitter{
  margin-top: 10px;
}










.action{
  height:1500px;
}



.action #main_heading{
  text-align: left;
    height: auto;
    width: 73%;
    align-self: flex-start;
    padding-left: 100px;
    font: normal normal normal 72px/76px Flood Std;
    font-family: floodregular;
}
.action .box1,
.action .box2 {
  align-self:flex-start;
  margin-left:100px;
  flex-direction:row;
  height:600px;
}

.action #small_box{
  /* position:absolute; */
  /* left:5%; */
  position:relative;
  top:0;
  align-self: flex-start;
    
}
.action .box1 #small_box{
  margin-left: 20%;
}

.action #image_box{
  align-self: flex-start;
  width:52%;
  height:86%
}

.action #image_box img{
  width:100%;
  height:100%

}

.action .text_box{
  width:60%;
  height:100%;
 
  position:relative;
  top:7%;
}

.action .box1 .text_box{
  margin-left:25px;
}

.action  #heading{
  align-self:center;
  text-align: left;
font: normal normal bold 44px/56px Helvetica;
height:auto;
margin-bottom:20px;

}

.action  #content_box{
 
  text-align:left;
  font: normal normal 300 20px/32px Helvetica;
}


.action button{
  margin-top:35px;
  align-self: flex-start;
   
}

.action .box1 #heading{padding-left:20%;}
.action .box1 #content_box{padding-left:20%;}
.action .box1 button{margin-left: 20%;}

.action .box2 #heading{padding-right:20%;}
.action .box2 #content_box{padding-right:20%;}
.action .box2 button{margin-right: 20%;}


.action .box2{
  flex-direction: row-reverse;
}










.subscribe {
  position: relative;
}

.subscribe #content-box {
  width: 40%;
  padding-left: 70px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.subscribe input {
  width: 352px;
  height: 48px;
  text-align: left;
  padding-left: 15px;
  margin-bottom: 55px;
  font: normal normal 300 18px/22px Helvetica;
  position: absolute;
  top: 60px;
  left: 45%;
}

.subscribe button {
  width: 160px;
  height: 48px;
  font: normal normal bold 18px/22px Helvetica;
  position: absolute;
  top: 60px;
  right: 10%;
}

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 114px 160px;
  grid-gap: 40px;

  & .footer-box1 {
    grid-area: 1/1/2/3;
    height: 100%;
    width: 100%;
    display: flex;
    & p {
      width: 40%;
      text-align: left;
      font: normal normal bold 22px/28px Helvetica;
      letter-spacing: 0px;
      color: #354463;
    }
  }

  & .footer-box2 {
    grid-area: 1/3/2/4;
    width: 75%;

    & h5 {
      font-size: 1rem;
      letter-spacing: 0.56px;
      border-bottom: 2px solid #354463;
      line-height: 30px;
    }

    & p {
      text-align: left;
      font: normal normal 300 14px/20px Helvetica;
      letter-spacing: -0.14px;
      color: #354463;
      margin-top: 4px;
    }
  }

  & .footer-box3 {
    grid-area: 1/4/2/5;
    width: 75%;
    & h5 {
      font-size: 1rem;
      letter-spacing: 0.56px;
      border-bottom: 2px solid #354463;
      line-height: 30px;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box4 {
    grid-area: 1/5/2/6;
    width: 75%;
    & h5 {
      font-size: 1rem;
      letter-spacing: 0.56px;
      border-bottom: 2px solid #354463;
      line-height: 30px;
    }

    & ul {
      list-style: none;
      margin-top: 4px;

      & li {
        text-align: left;
        text-decoration: underline;
        font: normal normal 300 14px/24px Helvetica;
        letter-spacing: -0.14px;
        color: #354463;
      }
    }
  }

  & .footer-box5 {
    grid-area: 1/6/2/8;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-right: 20px;

    & div {
      width: 50%;
      text-align: right;
      font: normal normal normal 44px/46px;
      font-size: 2.4rem;
      font-family: "floodregular";
      letter-spacing: 0px;
      color: #354463;
    }


  }



}

}

